.header-container{
    width: 100%;
    .cont-row-1-header{        
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: rgb(42, 170, 42);
    .icon-ig-container{
        background-color: rgb(42, 170, 42);
        .link-ig-header{
            text-decoration: none;
            margin: 10px;
            .fa-instagram{
                color: black;
                padding: 5px;
            }
        }
    }
    @media only screen and (max-width:990px){
        display: none;
    }
}
}