.header-container{
    .cont-row-1-header{
        background-color: rgb(98, 207, 98);
        margin: 0%;
        .cont-link-ig-header{
            margin: 0%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .link-instagram-header{
                text-decoration: none;
                .fa-instagram{
                    color: black;
                }
            }
        }
        .cont-text-header{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0%;
            .text-header{
                color: rgb(248, 246, 246);
                margin: 5px 0px;
            }
        }
    }
    .cont-row-2-header{
        display: flex;
        align-items: center;
        background-color: rgb(1, 171, 82);
        margin: 0%;
        @media only screen and (max-width:990px){
            display: none;
        }
        .cont-logo-link{
            .logo-link-index{
                margin: 5px 15px;
                .logo-link-img{
                    width: 230px;
                    height: 130px;
                }
            }
        }
        .cont-search{
            .cont-search2{
                margin: 5px 20px;
                .form-search{
                    display: flex;
                    justify-content: center;
                    .input-search{
                        width: 70%;
                        &:focus{
                            color: rgb(1, 171, 82);
                        }
                    }
                    .btn-search{
                        color: white;
                        border: none;
                        background-color: transparent;
                    }
                }
            }
        }
        .cont-user-cart{
            display: flex;
            .ul-user-cart{
                display: flex;
                flex-direction: row;
                list-style: none;
                justify-content: center;
                margin: 0;
                .li-user-cart{
                    margin: 0px 20px;
                    text-align: center;
                    .link-user-cart{
                        text-decoration: none;
                        .icon-user-cart{
                            padding-top: 20px;
                            color: white;
                            transition: 0.5s;
                            &:hover{
                                color: rgb(98, 207, 98);
                            }
                        }
                    }
                    .text-user-cart{
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        color: white;
                    }
                }
            }
        }
        @media only screen and (max-width:990px){
            display: none;
        }
    }
}
